/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import "./var";
@import "./contact";
@import "./about";
@import "./todo";
@import "./hotels";

/*========== BASE ==========*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
    overflow-x: hidden;
}
h1,
h2,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/*========== LAYOUT ==========*/
.main {
    position: relative;
    overflow-y: hidden;
}
#aboutus {
    overflow-y: hidden;
    overflow-x: hidden;
}

.bd-container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*========== HEADER ==========*/
.header {
    &.black {
        background-color: black;
    }
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
}

/*========== NAV ==========*/
.nav {
    max-width: 968px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: 850px) {
        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            padding-top: 1.5rem;
            background-color: $first-color-lighter;
            border-radius: 1rem;
            transition: 0.4s;
        }
    }

    &__logo,
    &__toggle {
        color: $body-color;
        font-family: $logo-font;
        font-size: 2rem;
        &:hover {
            color: $body-color;
        }
    }
    &__link {
        color: $first-color-dark;
        font-weight: $font-medium;
        text-transform: capitalize;
        &:hover {
            color: $body-color;
        }
    }
    &__item {
        margin-bottom: 1.5rem;
    }
    &__toggle {
        font-size: 1.2rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu {
    top: calc($header-height) + 1rem;
}

.gallery-top {
    width: initial;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    a {
        @media (max-width: 600px) {
            margin: 0;

            font-size: smaller;
            height: 150px;
        }

        text-align: center;
        line-height: 150px;
        margin-top: 20px;
        margin-left: 20px;
        height: 150px;
        width: 45%;
        color: white !important;
        border: 0;
        text-transform: capitalize;
        font-size: 20px;
        background-color: rgba($color: white, $alpha: 0.6);
        &:hover {
            color: $body-color;
            text-transform: uppercase;
            cursor: pointer;
        }
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.5);
    }
    a:nth-of-type(1) {
        margin-top: 0;
        background-image: url("../img/zipline.jpg");
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);
        background-size: cover;
    }
    a:nth-of-type(2) {
        margin-top: 0;
        background-image: url("../img/hotel.jpg");
        background-size: cover;
    }
    a:nth-of-type(3) {
        background-image: url("../img/car.jpg");
        background-size: cover;
    }
    a:nth-of-type(4) {
        background: url("../img/contact.jpg");

        background-size: cover;
    }
}
/*========== INLANDS ==========*/
.islands {
    height: 100vh;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__container {
        position: relative;
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
    }
    &__data {
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        padding: 2rem;
    }
    &__subtitle,
    &__title,
    &__description {
        color: $body-color;
    }
    &__subtitle {
        font-size: $big-font-size;
        font-weight: $font-medium;
    }
    &__title {
        font-size: $biggest-font-size;
    }
    &__description {
        margin-bottom: 1rem;

        padding-right: 0;
        width: 70%;
        margin: auto;
        padding-bottom: 10px;
    }
    &__button {
        margin-top: 20px;
        display: inline-flex;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: $body-color;
        color: $first-color;
        border-radius: 0.5rem;
        font-weight: $font-medium;

        &:hover {
            background-color: $first-color-lighter;
            color: $first-color;
        }

        &-icon {
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }
    }
}

/* Controls */
.controls {
    &__img {
        width: 35px;
        height: 35px;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.25rem 0.5rem;
    background-color: $body-color;
    border-radius: 0.75rem;
    z-index: $z-tooltip;
    overflow: hidden;

    &__container {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
}

/* Active controls */
.swiper-slide-thumb-active {
    width: 45px;
    height: 45px;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices */
@media screen and(max-width: 320px) {
    .bd-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .controls__container {
        column-gap: 0.25rem;
    }
}

@media screen and(min-width: 850px) {
    .nav {
        height: calc($header-height) + 1.5rem;

        &__list {
            display: flex;
        }
        &__item {
            margin-right: 2rem;
            margin-bottom: 0;
        }
        &__link {
            color: $body-color;
        }
        &__toggle {
            display: none;
        }
    }

    .islands {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .controls {
        padding: 0.5rem;
        border-radius: 1.25rem;

        &__container {
            column-gap: 1.5rem;
        }

        &__img {
            width: 45px;
            height: 45px;
            border-radius: 0.75rem;
        }
    }

    .swiper-slide-thumb-active {
        width: 55px;
        height: 55px;
    }
}

@media screen and(min-width: 1024px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and(min-height: 721px) {
    .islands {
        height: 640px;
    }
}

footer {
    background-color: $title-color;
    color: $first-color-lighter;
    .text-muted {
        color: $first-color-lighter !important;
    }
    .nav.flex-column {
        display: list-item;
        height: max-content;
    }
    .nav-item {
        text-transform: capitalize;
    }
    .imgcol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img {
            margin: 0;
            width: 100px;
            height: 90px;
            border: 1px solid #11443f;
        }
    }
    .col.mb-3 h5 {
        text-transform: capitalize;
    }
    form {
        width: auto;
        input[type="text"],
        input[type="email"] {
            margin-bottom: 20px;
            outline: none;
            background-color: transparent;
            color: white;
            &::placeholder {
                color: rgb(224, 213, 213);
                text-transform: capitalize;
                opacity: 1;
            }

            width: 200px;
        }
    }
}

.capitalize {
    text-transform: capitalize;
}
.banner {
    &.transport {
        background-image: url("../img/transport.jpg");
    }
    &.todo {
        background-image: url("../img/mountains.jpg");
    }
    &.hotel {
        background-image: url("../img/hotel.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        background-position: 0px -100px;
    }
    background-repeat: repeat;
    background-size: contain;
    margin-bottom: 0 !important;
    h1 {
        color: white;
        text-transform: capitalize;
    }
}
